@import "tailwindcss";

@theme {
  --color-charcoal: #232323;
  --color-orange: #ff7b00;

  --font-family-poppins: var(--font-poppins), sans-serif;
  --font-family-inter: var(--font-inter), sans-serif;
  --font-family-montserrat: var(--font-montserrat), sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
